<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag :comments do %>
  <h1>Comments</h1>

  <div id="comments">
    <% @comments.each do |comment| %>
      <%= render comment %>
      <p>
        <%= link_to "Show this comment", comment %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to "New comment", new_comment_path %>
